# Walmart璐拱鍑瘉鏍告煡璇濇湳

## 鎿嶄綔鎸囧崡

璇锋敞鎰忥紝閽堝閫氳繃**Walmart**骞冲彴璐拱鐨勪骇鍝侊紝鍦ㄦ牳鏌ュ叾淇濅慨璧勬牸鏃讹紝璇烽伒寰互涓嬮噸瑕佹祦绋嬨€?
褰撹姹傚鎴锋彁渚涜喘涔板嚟璇佹椂锛?*蹇呴』纭鍑瘉涓?*鐨勯攢鍞柟淇℃伅鍖呭惈涓轰互涓嬪瓧鐪硷細

- **"Sold and Shipped by Walmart"**

- **"Fulfilled by Walmart"**

- **"Sold and Shipped by ECOVACS Robotics"**

**鍙湁褰撳嚟璇佷笂娓呮櫚鏄剧ず涓婅堪鍏朵腑涓€绉嶆弿杩版椂锛屾柟鍙鐞嗕繚淇湇鍔°€?*



濡傛湁鐗规畩妗堜緥锛?*瀹炲湪鏃犳硶纭**鏃堕渶瑕?*鍗囩骇**杩涜杩涗竴姝ョ殑**鏍告煡**锛?*涓嶈兘鐩存帴璧颁繚浠ラ槻楠椾繚**銆?



**鍏抽敭鎻愰啋锛?*

濡傛灉鍑瘉鏄剧ず涓?**"Sold by Walmart, Shipped by \[绗笁鏂瑰悕绉帮紝濡?jamesdeals\]"** 鎴栫被浼兼弿杩帮紝**鍒欎笉绗﹀悎淇濅慨鏉′欢**銆傛绫绘儏鍐靛睘浜?*闈炴巿鏉?*鍗栧閫氳繃Walmart骞冲彴杩涜鐨勮浆鍞紝**鏃犳硶鎻愪緵淇濅慨鏈嶅姟銆?*



## 鍙弬鑰冭嫳鏂?*瑙ｉ噴璇濇湳** 

Please be advised that Walmart Marketplace hosts both authorized and unauthorized sellers of ECOVACS products\. To ensure product authenticity and eligibility for our warranty services, coverage is exclusively provided for purchases made from our authorized partners on the platform\.



These are specifically:

- **"Sold and Shipped by Walmart"**

- **"Fulfilled by Walmart"**

- **"Sold and Shipped by ECOVACS Robotics"**



To help us verify your purchase, could you please provide a clear screenshot of your Walmart order details? The screenshot must clearly show the **seller information**,** including the seller's name **\(e\.g\., "**Sold by\.\.\.**"\)**, shipping information **\(e\.g\., **"Shipped by\.\.\."**\), to confirm qualification for warranty services\.



**Example of required screenshot:**

![Image](https://internal-api-drive-stream.feishu.cn/space/api/box/stream/download/authcode/?code=MDI5NTQzZWUyY2YzMTAyOGJlZWE4NjZkYzU0YzQyMTVfZTYxMDQ3MjIzMjAyZGUyNzRmMjNiOTU5ZWMwYTk1M2FfSUQ6NzU1NDA3NDIyNDQ0MTQ3NTA3M18xNzg3Nzg2NjY2OjE3ODc4NzMwNjZfVjM)

![Image](https://internal-api-drive-stream.feishu.cn/space/api/box/stream/download/authcode/?code=MGQ3YTFkM2NlY2Y3ZjM5OWRkNWQ5ODhhNzFlODI1Y2FfMjVkMGJjNjA2MThjMzQ2NjE0NzBjYzc5MjUyZmQwZjhfSUQ6NzU1NDA3NDI0OTE0NTc5NDU2MV8xNzg3Nzg2NjY1OjE3ODc4NzMwNjVfVjM)

![Image](https://internal-api-drive-stream.feishu.cn/space/api/box/stream/download/authcode/?code=NTRmNWE4ZWVhZDliNTZlZTIzYWM3ZTRhZGQwN2U3ZjlfMDJmY2I4ODU1MGVjNGVmZTQ1MzQzM2UzZTYzMGQzYTVfSUQ6NzU1NDA3NDM0ODk5NTM5NTU4Nl8xNzg3Nzg2NjY1OjE3ODc4NzMwNjVfVjM)

---

If your order was fulfilled by a different seller, unfortunately, we will be unable to process the warranty claim, as these products are not covered by our official warranty policy\. For further details, you may refer to this link for our detailed warranty policy: [https://help\.ecovacs\.com/global/support/warranty](https://help.ecovacs.com/global/support/warranty)

![Image](https://internal-api-drive-stream.feishu.cn/space/api/box/stream/download/authcode/?code=NmM0M2JkNDI5MGE2ZjcwYzc2MTNiNDhlOWEzYjEyZmRfMWJkY2ZkNjkwZGEzM2IzMDkyOTc1ZjAxZmJlNjFlODBfSUQ6NzU1NDA3NDUxMzgyMzIwMzM0N18xNzg3Nzg2NjY2OjE3ODc4NzMwNjZfVjM)



We appreciate your understanding and cooperation\. If you have any further questions, please do not hesitate to contact us\.

---

